body {
    text-align: center;
}

input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -5px;
    height: 25px;
}

button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: -5px;
    height: 31px;
    background-color: rgb(17, 17, 226);
    color: lightgrey;
    border: solid black;
    border-left: solid black 1px;
}